.algContainer {
  margin-top: 3%;
}
.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#activeAlg {
  box-shadow: 10px 10px 5px rgb(173, 173, 173);
}

#liAlgs {
  margin: 1%;
}

#bodyContent {
  padding: 5%;
}

#buttonSession {
  margin-right: 2%;
}
